<!doctype html>
<html lang="nl" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>VV De Spuyt</title>
  </head>
  <body class="d-flex flex-column h-100">
  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
