{{ include('_header.twig') }}

{{ include('_menu.twig') }}
<div class="container">
<h1>Geschiedenis</h1>
<p>Ja, wij zijn echt vernoemd naar een café: Café de Spuyt...</p>

<p>Al in 1983 kwam in café De Spuyt regelmatig een groepje enthousiaste volleyballers bij elkaar. Van een echte club was toen nog geen sprake; het bleef lange tijd bij onderling een partijtje spelen. Maar op een gegeven moment ontstond er behoefte aan daadwerkelijke competitie te gaan spreken. Diverse spelers gingen in de officiële Nevobo competitie spelen. Anderen kozen voor het recreantenbestaan binnen onze prille vereniging.</p>

<p>Op 31 augustus 1987 was de oprichting van volleybalvereniging De Spuyt een feit.</p>

<p>De oprichters van De Spuyt hadden een kleine, overzichtelijke vereniging voor ogen die klein genoeg is om iedereen te kunnen kennen. Oorspronkelijk wilden de oprichters een vereniging met maximaal twee competitieteams en een meerderheid van leden die recreatief speelt. Inmiddels is de De Spuyt uitgegroeid tot een middelgrote vereniging met ruim honderd leden met twee gedeelde passies: volleybal en gezelligheid.</p>

<p>De combinatie van sportvereniging en eigen café heeft zeker tot deze succesvolle groei bijgedragen. Er zijn weinig verenigingen in Amsterdam een vergelijkbare gouden mix hebben midden in het centrum van de stad.</p>

<p>Voldoet het gemiddelde Spuyt-lid aan een bepaald profiel?</p>

<p>Ja, onze leden zijn over het algemeen ouder dan 25 jaar, verder wordt, net als de rest van de stad, ook De Spuyt steeds internationaler. Bovendien zijn de leden erg tevreden over hun vereniging: de helft is langer dan 5 jaar lid. Reken maar van yes dat het te maken heeft met de eerder genoemde unieke combinatie.</p>

</div>
{{ include('_footer.twig') }}
