{{ include('_header.twig') }}
{{ include('_menu.twig') }}

<div class="container">
{%- if lang == 'nl' -%}
{#- Hier moet de Nederlandse tekst komen -#}
    <h1>Welkom bij volleybalvereniging de Spuyt!</h1>

    <div class="informational_block">
        <div class="block_header">
            Datum Spuyttoernooi bekend!
        </div>
        <div class="block_content">
            We weten de datum voor ons legendarische Spuyttoernooi!
            We weten de datum voor ons legendarische Spuyttoernooi!
            We weten de datum voor ons legendarische Spuyttoernooi!
            We weten de datum voor ons legendarische Spuyttoernooi!
            We weten de datum voor ons legendarische Spuyttoernooi!
            We weten de datum voor ons legendarische Spuyttoernooi!
            We weten de datum voor ons legendarische Spuyttoernooi!
            We weten de datum voor ons legendarische Spuyttoernooi!
            We weten de datum voor ons legendarische Spuyttoernooi!
            We weten de datum voor ons legendarische Spuyttoernooi!
        </div>
    </div>

    <div class="informational_block">
        <div class="block_header">
            Spelers gezocht!
        </div>
        <div class="block_content">
            We hebben ruimte voor nieuwe spelers! Wil jij ook bij ons komen spelen? <a href="/join">Meldt je dan nu aan</a>.
            We hebben ruimte voor nieuwe spelers! Wil jij ook bij ons komen spelen? <a href="/join">Meldt je dan nu aan</a>.
            We hebben ruimte voor nieuwe spelers! Wil jij ook bij ons komen spelen? <a href="/join">Meldt je dan nu aan</a>.
            We hebben ruimte voor nieuwe spelers! Wil jij ook bij ons komen spelen? <a href="/join">Meldt je dan nu aan</a>.
        </div>
    </div>
{#- Einde Nederlandse sectie -#}
{%- else -%}
{#- Here goes the English text -#}

    <h1>Hello, visitor!</h1>

{#- End of English section -#}
{%- endif -%}
</div>

{{ include('_footer.twig') }}
